.db-button {
    font-family: var(--db-font-family-title);
    font-size: var(--db-font-size-base);
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: var(--db-color-primary-dark);
    box-shadow: 10px 0 var(--db-color-primary) inset;
    text-transform: uppercase;
    color: white;
    width: fit-content;
    align-self: center;
    border: none;
    transition: 0.5s;
}

.db-button:hover {
    background: var(--db-color-primary-dark);
    box-shadow: none;
}