.db-footer {
    background-color: var(--db-color-gray-dark);
    width: 100vw;
    max-width: 100%;
    padding: 50px;
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

.db-footer >.content {
    display: flex;
    justify-content: space-around;
}

.db-footer >.content >.contact p {
    font-family: var(--db-font-family-text);
    font-size: var(--db-font-size-base);
    padding: 5px;
}

.db-footer >.content >.contact .fa-solid {
    color: var(--db-color-secondary);
    margin-right: 8px;
}

.db-footer >.content >.social-media >.title {
    font-family: var(--db-font-family-title);
    font-size: calc(var(--db-font-size-base) + 10px);
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.db-footer >.copyright {
    font-family: var(--db-font-family-text);
    font-size: calc(var(--db-font-size-base) - 5px);
    margin-top: 15px;
}

@media (max-width: 768px) {
    .db-footer >.content {
        flex-direction: column;
    }
    .db-footer >.content >.logo {
        width: 335px;
        align-self: center;
        margin-bottom: 20px;
    }
    .db-footer >.content >.contact {
        margin-bottom: 30px;
    }
    .db-footer >.content >.contact p {
        font-size: calc(var(--db-font-size-base) - 1px);
    }
    .db-footer >.content >.social-media {
        margin-bottom: 10px;
    }
    .db-footer >.content >.social-media >.title {
        font-size: calc(var(--db-font-size-base) + 5px);
    }
}

@media (max-width: 426px) {
    .db-footer >.content >.logo {
        width: 200px;
    }
}