.db-header {
    width: 100vw;
    height: var(--db-header-height);
    background-color: var(--db-color-primary);
    position: fixed;
    z-index: 1;
}

.db-header >.wrapper {
    max-width: var(--db-wrapper-desktop);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.db-header >.wrapper >.logo {
    width: 120px;
}

.db-header button {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0 20px;
    color: white;
    font-family: var(--db-font-family-title);
    font-size: var(--db-font-size-base);
    font-weight: 700;
    transition: background-color 0.5s;
}

.db-header button:hover {
    background-color: var(--db-color-primary-dark);
}

.db-header .home.-active {
    background-color: var(--db-color-primary-dark);
}

.db-header >.wrapper >.menu {
    display: none;
}

.db-header >.nav-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--db-color-primary);
    position: absolute;
    padding: 5px;
    gap: 5px;
    top: -100vh;
}

.db-header >.nav-menu >button {
    height: var(--db-header-height);
}

@media (max-width: 768px) {
    .db-header >.wrapper {
        max-width: var(--db-wrapper-tablet);
        padding: 10px;
    }
    .db-header >.wrapper >.home {
        display: none;
    }
    .db-header >.wrapper >.donation {
        display: none;
    }
    .db-header >.wrapper >.menu {
        display: block;
        font-size: calc(var(--db-font-size-base) + 20px);
        color: var(--db-color-secondary);
    }
    .db-header >.wrapper >.menu:hover {
        background-color: transparent;
        color: white;
    }
}

@media (max-width: 426px) {
    .db-header >.wrapper {
        max-width: 100%;
        padding: 10px;
    }

}