.db-section {
    padding: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.db-section.-with-bg-bones {
    background-image: url(../../assets/img/bones1.png), url(../../assets/img/bones2.png);
    background-repeat: no-repeat;
    background-position: left 40%, right 40%;
    background-attachment: fixed;
}

.db-section >.title {
    color: var(--db-color-secondary);
    font-family: var(--db-font-family-title);
    font-size: calc(var(--db-font-size-base) + 43px);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.db-section >.title::before {
    content: "";
    display: block;
    height: 1px;
    width: 100px;
    background-color: var(--db-color-primary);
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0.4;
}

.db-section >.title::after {
    content: "";
    display: block;
    height: 1px;
    width: 100px;
    background-color: var(--db-color-primary);
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0.4;
}

.db-section >.content {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.db-section >.content >.description {
    padding-top: 110px;
    width: 100%;
    font-family: var(--db-font-family-text);
    font-size: var(--db-font-size-base);
    color: var(--db-color-gray);
    line-height: 1.8rem;
}

.db-section.--bg-beige {
    background-color: var(--db-color-beige);
}

.db-section >.content-image {
    max-width: var(--db-wrapper-desktop);
    width: 100%;
    align-self: center;
    display: flex;
    padding-top: 110px;
    column-gap: 30px;
}

.db-section >.content-image >.content {
    width: 60%;
    padding: 0 10px;
}

.db-section >.content-image >.content >.title {
    font-family: var(--db-font-family-title);
    font-size: calc(var(--db-font-size-base) + 25px);
    font-weight: 700;
    margin-bottom: 15px;
}

.db-section >.content-image >.content .description {
    font-family: var(--db-font-family-text);
    font-size: var(--db-font-size-base);
    color: var(--db-color-gray);
    line-height: 1.8rem;
    padding: 10px 0;
}

.db-section >.content-image >.image {
    width: 40%;
}

.db-section >.content-image >.image >img {
    width: 100%;
}

.db-section >.cards-wrapper {
    margin-top: 80px;
    display: flex;
    column-gap: 40px;
    max-width: var(--db-wrapper-desktop);
    width: 100%;
    align-self: center;
}

@media (max-width: 768px) {
    .db-section.-with-bg-bones {
        background-image: none;
    }
    .db-section >.title {
        font-size: calc(var(--db-font-size-base) + 18px);
    }
    .db-section >.title::before, .db-section >.title::after {
        display: none;
    }
    .db-section >.content >.description {
        padding: 40px;
    }
    .db-section >.cards-wrapper {
        flex-direction: column;
        padding: 0 40px;
        margin: 0;
        gap: 20px;
    }
    .db-section.how-we-work >.cards-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .db-section >.content-image {
        flex-direction: column;
        padding: 40px;
        max-width: 100%;
    }
    .db-section >.content-image >.content {
        width: 100%;
        padding: 0;
    }
    .db-section >.content-image >.content >.title {
    font-size: calc(var(--db-font-size-base) + 10px);
    }
    .db-section >.content-image >.image {
        width: 100%;
    }
}

@media (max-width: 426px) {
    .db-section >.content >.description {
        padding: 20px;
    }
    .db-section >.cards-wrapper {
        flex-direction: column;
        margin: 0;
        gap: 20px;
        padding: 0 20px;
    }
    .db-section >.content-image {
        padding: 20px;
    }
}