.db-scroll-to-top {
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 3;
    background-color: var(--db-color-primary-dark);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 180deg;
    transition: 0.5s;
    text-decoration: none;
    color: white;
}

.db-scroll-to-top:hover {
    background-color: var(--db-color-secondary);
    cursor: pointer;
}