:root {
    --db-color-primary: #f09f1f;
    --db-color-primary-dark: #ef5030;
    --db-color-secondary: #108896;
    
    --db-color-gray: #788289;
    --db-color-gray-dark: #363636;

    --db-color-beige: #f6f3ee;
}