.db-home >.greetings-wrapper {
    height: calc(100vh - var(--db-header-height));
    position: relative;
}

.db-home >.greetings-wrapper >video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.db-home >.greetings-wrapper >.title {
    font-family: var(--db-font-family-title);
    font-size: calc(var(--db-font-size-base) + 63px);
    font-weight: 700;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 20%;
    left: 10%;
    right: 10%;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.db-home >.what-we-do >.title {
    max-width: 690px;
}

.db-home >.how-we-work >.title {
    max-width: 840px;
}

@media (max-width: 768px) {
    .db-home >.greetings-wrapper >video{
        width: 100%;
        height: 100%;
    }
    .db-home >.greetings-wrapper >.title {
        font-size: calc(var(--db-font-size-base) + 43px);
    }
}

@media (max-width: 426px) {
    .db-home >.greetings-wrapper {
        height: calc(50vh - var(--db-header-height));
    }
    .db-home >.greetings-wrapper >.title {
        font-size: calc(var(--db-font-size-base) + 23px);
    }
}